{% extends 'base.html' %}
{% load static %}
{% block additional_styles %}


<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!-- <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/plugins.css" rel="stylesheet" type="text/css" /> -->
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME GLOBAL STYLES -->
<!-- <link href="plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
    <link href="plugins/noUiSlider/nouislider.min.css" rel="stylesheet" type="text/css"> -->
<!-- END THEME GLOBAL STYLES -->
<!--  BEGIN CUSTOM STYLE FILE  -->
<link href="{% static 'assets/css/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static 'plugins/jquery-step/jquery.steps.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/forms/theme-checkbox-radio.css' %}">
<link href="{% static 'plugins/flatpickr/custom-flatpickr.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'plugins/noUiSlider/custom-nouiSlider.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'plugins/bootstrap-range-Slider/bootstrap-slider.css' %}" rel="stylesheet" type="text/css">

<style>
    #dbl {
        display: none;
    }

    #con_data {
        display: none;
    }

    #dbl1 {
        display: none;
    }

    #dbl2 {
        display: none;
    }

    #dblnext {
        display: none;
    }

    .space {
        padding: 5px 0px;
    }

    .foc {
        top: -15px !important;
        font-size: 14px !important;
        transform: translateY(0) !important;
        left: 15px !important;
        opacity: 1 !important;
        color: #8f12a5 !important;
    }

    .foci {
        border-bottom: 2px solid #8c12a2 !important;
    }
</style>
<!--  END CUSTOM STYLE FILE  -->
<style>
    input[type=date]:required:invalid::-webkit-datetime-edit {
        color: transparent;
    }

    input[type=date]:focus::-webkit-datetime-edit {
        color: black !important;
    }

    input[type=month]:required:invalid::-webkit-datetime-edit {
        color: transparent;
    }

    input[type=month]:focus::-webkit-datetime-edit {
        color: black !important;
    }

    input[readonly]+label {
        top: -15px;
        font-size: 14px;
        transform: translateY(0);
        left: 15px;
        opacity: 1;
        color: #8f12a5;
    }
</style>
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/table/datatable/dt-global_style.css' %}">
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME GLOBAL STYLES -->
<!-- <link href="{% static 'plugins/animate/animate.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'plugins/sweetalerts/promise-polyfill.js' %}"></script>
<link href="{% static 'plugins/sweetalerts/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'plugins/sweetalerts/sweetalert.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/components/custom-sweetalert.css' %}" rel="stylesheet" type="text/css" /> -->
<!-- END THEME GLOBAL STYLES -->
<!-- <link href="{% static 'assets/css/components/tabs-accordian/custom-tabs.css' %}" rel="stylesheet" type="text/css" /> -->



<!--  BEGIN NAVBAR  -->
<!-- <div class="header-container fixed-top">
        <header class="header navbar navbar-expand-sm">
            <ul class="navbar-nav theme-brand flex-row  text-center">
                <li class="nav-item theme-logo">
                    <a href="index.html">
                        <img src="{% static 'assets/img/90x90.jpg' %}" class="navbar-logo" alt="logo">
                    </a>
                </li>
                <li class="nav-item theme-text">
                    <a href="index.html" class="nav-link"> </a>
                </li>
                <li class="nav-item toggle-sidebar">
                    <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-list">
                            <line x1="8" y1="6" x2="21" y2="6"></line>
                            <line x1="8" y1="12" x2="21" y2="12"></line>
                            <line x1="8" y1="18" x2="21" y2="18"></line>
                            <line x1="3" y1="6" x2="3" y2="6"></line>
                            <line x1="3" y1="12" x2="3" y2="12"></line>
                            <line x1="3" y1="18" x2="3" y2="18"></line>
                        </svg>
                    </a>
                </li>
            </ul>
            <ul class="navbar-item flex-row search-ul">
            </ul>
            <ul class="navbar-item flex-row navbar-dropdown">
                <li class="nav-item dropdown user-profile-dropdown  order-lg-0 order-1">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-settings">
                            <circle cx="12" cy="12" r="3"></circle>
                            <path
                                d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                            </path>
                        </svg>
                    </a>
                    <div class="dropdown-menu position-absolute animated fadeInUp"
                        aria-labelledby="userProfileDropdown">
                        <div class="user-profile-section">
                            <div class="media mx-auto">
                                <img src="{% static 'assets/img/90x90.jpg' %}" class="img-fluid mr-2" alt="avatar">
                                <div class="media-body">
                                    <h5>User Name</h5>
                                    <p>Designation Title</p>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <a href="user_profile.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-user">
                                    <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                    <circle cx="12" cy="7" r="4"></circle>
                                </svg> <span>My Profile</span>
                            </a>
                        </div>
                        <div class="dropdown-item">
                            <a href="apps_mailbox.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-inbox">
                                    <polyline points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline>
                                    <path
                                        d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z">
                                    </path>
                                </svg> <span>My Inbox</span>
                            </a>
                        </div>
                        <div class="dropdown-item">
                            <a href="auth_login.html">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-log-out">
                                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                    <polyline points="16 17 21 12 16 7"></polyline>
                                    <line x1="21" y1="12" x2="9" y2="12"></line>
                                </svg> <span>Log Out</span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </header>
    </div> -->
<!--  END NAVBAR  -->

<!--  BEGIN MAIN CONTAINER  -->
<!-- <div class="main-container" id="container"> -->

<!-- <div class="overlay"></div>
        <div class="cs-overlay"></div>
        <div class="search-overlay"></div> -->

<!--  BEGIN SIDEBAR  -->
<!-- <div class="sidebar-wrapper sidebar-theme">
            <nav id="sidebar">
                <div class="profile-info">
                    <figure class="user-cover-image"></figure>
                    <div class="user-info">
                        <img src="{% static 'assets/img/90x90.jpg' %}" alt="avatar">
                        <h6 class="">User Name</h6>
                        <p class="">Designation Title</p>
                    </div>
                </div>
                <div class="shadow-bottom"></div>
                <ul class="list-unstyled menu-categories" id="accordionExample">
                    <li class="menu">
                        <a href="#dashboard" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-home">
                                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                                </svg>
                                <span>Attendance</span>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-chevron-right">
                                    <polyline points="9 18 15 12 9 6"></polyline>
                                </svg>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled show" id="dashboard" data-parent="#accordionExample">
                            <li>
                                <a href="attendance_enable.html"> Enable </a>
                            </li>
                            <li class="active">
                                <a href="attendance_upload_list.html"> List </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div> -->
<!--  END SIDEBAR  -->

<!--  BEGIN CONTENT AREA  -->
<!-- <div id="content" class="main-content"> -->
<!-- <div class="container"> -->
<!-- <div class="container"> -->
{% endblock additional_styles %}

{% block content %}
<div class="row layout-top-spacing" id="cancel-row">
    <div class="d-flex justify-content-between w-100">
        <div id="date_time_picker" class=" layout-top-spacing">
            <div class="seperator-header mx-3">
                <h4 class="">Answer Sheet Distribution (Second level)</h4>
            </div>
        </div>
        <div>
            <nav class="breadcrumb-one" aria-label="breadcrumb">
                <ol class="breadcrumb bg-white mt-3">
                    <li class="breadcrumb-item"><a href="dashboard.html">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>Answer Sheet
                            Distribution (Second level)</span>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="pl-4">
            <div class="col-12 mb-4">
                <div class="filterz">
                    <div class="row form-sec">
                        <div class="col-6 mb-4 mt-1">
                            <input class="input-text" type="tel" required="required" id="qpcode">
                            <label>QP Code</label>
                            <div class="cover"></div>
                        </div>
                        <div class="col-6 mb-4 mt-1">
                            <div class="select">
                                <select class="select-text" required id="courses">
                                    <option value="" disabled selected></option>
                                    <!-- <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option> -->
                                </select>
                                <span class="select-highlight"></span>
                                <span class="select-bar"></span>
                                <label class="select-label">Course</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" style="text-align: right; padding: 0px;">
                        <button class="mt-1 btn btn-danger mb-1" type="reset" id="reset">Reset</button>
                        <button class="mt-1 btn btn-primary mb-1" type="button" onclick="check()"
                            id="btnfetch">Fetch</button>
                    </div>
                </div>
                <div class="mt-4" id="dbl">
                    <div class="row form-sec mt-4">
                        <div class="col-4 mb-4 mt-4">
                            <div class="select">
                                <select class="select-text" required id="examiner-type">
                                    <option value="" disabled selected></option>
                                    <option value="Chief Examiner" data-code="101">Cheif Examiner</option>
                                    <option value="Additional Examiner" data-code="100">Additional Examiner</option>
                                </select>
                                <span class="select-highlight"></span>
                                <span class="select-bar"></span>
                                <label class="select-label">Distribution Type</label>
                            </div>
                        </div>
                        <div class="col-4 mb-4 mt-4">
                            <div class="select">
                                <select class="select-text" required onchange="checknext()" id="examiner">
                                    <option value="" disabled selected></option>
                                    <!-- <option value="1">Option 1</option>
                                    <option value="2">Option 2</option>
                                    <option value="3">Option 3</option> -->
                                </select>
                                <span class="select-highlight"></span>
                                <span class="select-bar"></span>
                                <label class="select-label">Select Examiner</label>
                            </div>
                        </div>
                        <div class="col-4 mb-4 mt-4">
                            <input class="input-text" type="tel" required="required" id="ascount">
                            <label>No. of Answer Sheet</label>
                            <div class="cover"></div>
                        </div>
                    </div>
                </div>

                <div class="row layout-top-spacing" id="dblnext">
                    <div class="col-12" style="text-align: center;">
                        <button class="btn btn-primary mt-3 mb-2" type="button" id="allocate">Allocate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
<!--  END CONTENT AREA  -->

<!-- </div> -->
<!-- END MAIN CONTAINER -->

{% endblock content %}

{% block head %}

<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<!-- <script src="{% static 'assets/js/libs/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}"></script>

<script>
    $(document).ready(function () {
        App.init();
    });
</script>

<script src="{% static 'plugins/highlight/highlight.pack.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script> -->
<!-- END GLOBAL MANDATORY SCRIPTS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static 'assets/js/scrollspyNav.js' %}"></script>
<script src="{% static 'plugins/noUiSlider/nouislider.min.js' %}"></script>

<script src="{% static 'plugins/noUiSlider/custom-nouiSlider.js' %}"></script>
<script src="{% static 'plugins/bootstrap-range-Slider/bootstrap-rangeSlider.js' %}"></script>
<!-- BEGIN PAGE LEVEL SCRIPTS -->


<script>
    function check() {
        var x = document.getElementById("dbl");
        x.style.display = "block";
    }
    function checkz() {
        var z = document.getElementById("con_data");
        z.style.display = "flex";
    }
    function check1() {
        var x = document.getElementById("dbl1");
        var y = document.getElementById("dbl2");
        x.style.display = "flex";
        y.style.display = "none";
    }
    function check2() {
        var m = document.getElementById("dbl1");
        var n = document.getElementById("dbl2");
        m.style.display = "none";
        n.style.display = "flex";
    }
    function checknext() {
        var k = document.getElementById("dblnext");
        k.style.display = "flex";
    }
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME GLOBAL STYLE -->
<script src="{% static 'plugins/sweetalerts/sweetalert2.min.js' %}"></script>
<script src="{% static 'plugins/sweetalerts/custom-sweetalert.js' %}"></script>
<!-- END THEME GLOBAL STYLE -->
<script>
    $('.widget-content .warning.confirm').on('click', function () {
        swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, Delete!',
            padding: '2em'
        }).then(function (result) {
            if (result.value) {
                swal(
                    'Deleted!',
                    'Question Paper Deleted.',
                    'success'
                )
            }
        })
    })

    $('.widget-content .warnings.confirms').on('click', function () {
        swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, Approve!',
            padding: '2em'
        }).then(function (result) {
            if (result.value) {
                swal(
                    'Approved!',
                    'Question Paper Approved.',
                    'success'
                )
            }
        })
    });
    $(document).ready(function () {
        $("#btnfetch").prop('disabled', true);
        $('#qpcode').blur(function () {
            $("#btnfetch").prop('disabled', true);
            qpcode = $('#qpcode').val();

            var token = '{{csrf_token}}'
            var res = jQuery.ajax({
                headers: { "X-CSRFToken": token },
                type: "POST",
                url: "{% url 'courselist' %}",
                dataType: "json",
                data: {
                    "qpcode": qpcode,

                },
                success: renderlist,
                error: function err(e) {
                    Swal({
                        "title": "Oops!",
                        type: 'error',
                        "text": e.message,

                        padding: '2em'
                    })
                }
            });
            function renderlist(res) {

                $("#courses").empty()

                console.log(res.data.courses)
                $("#courses").append('<option value=""></option>')
                $.each(res.data.courses, function (j, value) {
                    var course = value.cname + " -" + value.pgmname
                    $("#courses").append('<option value="' + value.pgmcourseid + '" cid="' + value.id + '">' + course + '</option>');
                });

            }
        });
        $("#reset").click(function () {
            $("#courses").empty();
            $("#qpcode").val('');
            document.getElementById('dbl').style.display = "none";
            $("#btnfetch").prop('disabled', true);
            $("#examiner").empty();
            $("#examiner-type").val('');
            $('#ascount').val('');
            var k = document.getElementById("dblnext");
            k.style.display = "none";
            // $('#style-3').dataTable().fnClearTable();

        });
        $('#qpcode').change(function () {
            $("#courses").empty();
            $("#examiner").empty();
            $("#examiner-type").val('');
            $('#ascount').val('');
        
    })

        $("#courses").change(function () {
            $("#examiner").empty();
            $("#examiner-type").val('');
            $('#ascount').val('');
            document.getElementById('dbl').style.display = "none"


            $("#btnfetch").prop('disabled', false);
        })

        let examid
        let courseid

        $('#btnfetch').click(function () {
            // $('#exam').empty()
            // $('#course').empty()
            // $('#date').empty()

            qpcode = $('#qpcode').val();
            course = $('#courses').val();
            //courseid=$('#courses').attr('.cid')
            //alert(courseid);
            //alert(course)
            var token = '{{csrf_token}}'
            var res = jQuery.ajax({
                headers: { "X-CSRFToken": token },
                type: "POST",
                url: "{% url 'examdet' %}",
                dataType: "json",
                data: {
                    "qpcode": qpcode,

                    'course': course,
                    //'courseid': courseid,

                },
                success: renderlist,
            });
            function renderlist(res) {
                $("#examiner-type").val('');
                $("#examiner").empty();
                var S = res.data
                examid = S.examId
                courseid = S.examdetails.courseid

                var c = $('#courses option:selected').text()

                $('#exam').html(S.examdetails.examtitle)
                $('#course').html(S.examdetails.coursetitle)
                $('#date').html(S.examdetails.startDate)



            }
        });


        $('#examiner-type').change(function () {
            $("#examiner").empty();
            $('#ascount').val('');

            qpcode = $('#qpcode').val();
            examinert = $('#examiner-type option:selected').val();
            course = $('#courses option:selected').val();




            var token = '{{csrf_token}}'
            var res = jQuery.ajax({
                headers: { "X-CSRFToken": token },
                type: "POST",
                url: "{% url 'examiners-list' %}",
                dataType: "json",
                data: {
                    "qpcode": qpcode,
                    "examinert": examinert,
                    'exam_id': examid,
                    'course': course,
                },
                success: renderlist,
            });
            function renderlist(res) {
                console.log(res.data.examinerList);
                $("#examiner").empty()
                $("#examiner").append('<option value=""></options>')

                $.each(res.data.examinerList, function (i, value) {
                    var teachername = value.username
                    $("#examiner").append('<option value="' + value.id + '">' + teachername.toUpperCase() + '</options>')

                })

            }
        });
        $("#examiner").change(function () {
            $('#ascount').val('');
            $('#allocate').prop('disabled', false);
        })

        $('#allocate').click(function () {
            $('#allocate').prop('disabled', true);
            qpcode = $('#qpcode').val();
            course = $('#courses option:selected').val();
            examiner = $('#examiner option:selected').val()
            answersheets = $('#ascount').val()
            distype = $('#examiner-type option:selected').data('code');
            //alert(examid)
            //  alert(course)


            var token = '{{csrf_token}}'
            var res = jQuery.ajax({
                headers: { "X-CSRFToken": token },
                type: "POST",
                url: "{% url 'answersheet-distribution-second' %}",
                dataType: "json",
                data: {
                    'qpcode': qpcode,
                    'examiner': examiner,
                    'course': course,
                    'no_as': answersheets,
                    'courseid': courseid,
                    'examid': examid,
                    'examinert': distype,
                },
                success: renderlist,
                error: (err) => {

                    swal({

                        "title": "error",

                        type: 'error',

                        "text": "Something went wrong!",

                        padding: '2em'

                    }).then(function (data) {

                        $('#btnallo').prop('disabled', true);
                        location.reload()
                    })
                }
            });
            function renderlist(res) {
                $("#examiner-type").val('');
                $("#examiner").empty();
                c = res.data.count
                x = res.data.bal

                if (c > 0) {
                    swal({

                        "title": "Allocated Successfully",

                        type: 'success',

                        "text": ' Allocation Completed:' + c + '  Allocation not done: ' + x + '',

                        padding: '2em'

                    }).then(function (data) {
                        $('#btnallo').prop('disabled', true);
                        location.reload()
                    })
                }
                else {
                    swal({

                        "title": "Allocated Failed",

                        type: 'warning',

                        "text": 'No Answersheets to allocate',

                        padding: '2em'

                    }).then(function (data) {
                        $('#btnallo').prop('disabled', true);
                        location.reload()
                    })
                }
            }
        });
    });
</script>
{% endblock head %}